<!DOCTYPE html>
<html lang="en">
<head>
    {{>headLink}}
</head>
<body>
    {{>navvar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="ar roaster" title="AR.." >
                        </figure>
                     </div>
                    <!--main left header--> 
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a  <span class="text_color">Mern Stack Devloper</span> Student</h1>
                        <a href="/weather"><button>checkNow</button></a>
                    </div>
                    <!--main right header--> 
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    {{>footer}}
</body>
</html>